body {
  background: rgb(224,224,237);
background: linear-gradient(133deg, rgba(224,224,237,0.9643207624846813) 10%, rgba(229,228,236,1) 60%, rgba(190,195,196,1) 99%);
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 770px) {
  .App {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}